<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>157841073417-8vu0t45q0ddkqg4eo30v5a6vl37kcijq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.157841073417-8vu0t45q0ddkqg4eo30v5a6vl37kcijq</string>
	<key>API_KEY</key>
	<string>AIzaSyADTg34A45CG6xg3Y1cacgyLeQ0SJKx94w</string>
	<key>GCM_SENDER_ID</key>
	<string>157841073417</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.slimetale.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios12-e95a5</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios12-e95a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:157841073417:ios:252f2c294c3de11f2e9fd8</string>
</dict>
</plist>